<md-content class="Page-container">
    <div class="ForgotPassword-formContainer" layout="column" layout-align="center center">

        <h1 class="md-headline">Te enviaremos un enlace de reestablecimiento de contraseña</h1>

        <form name="forgotPasswordForm" role="form" novalidate ng-submit="vm.submit()" class="ForgotPassword-form">
            <div>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" ng-model="vm.email" maxlength="100" md-maxlength="100" ng-maxlength="100" required>
                </md-input-container>

                <md-button ng-disabled="vm.isSending || forgotPasswordForm.$invalid" type="submit" class="md-primary md-raised">Enviar</md-button>
            </div>
        </form>

    </div>
</md-content>
