<md-content class="Page-container">
    <div class="ResetPassword-formContainer" layout="column" layout-align="center center">

        <h1 class="md-headline">Actualiza tu contrase&ntilde;a</h1>

        <form ng-submit="vm.submit()">
            <md-input-container class="ResetPassword-input">
                <label>Contrase&ntilde;a</label>
                <input type="password" ng-model="vm.password" maxlength="100" md-maxlength="100" ng-maxlength="100" required>
            </md-input-container>

            <md-input-container class="ResetPassword-input">
                <label>Confirmaci&oacute;n de contrase&ntilde;a</label>
                <input type="password" ng-model="vm.passwordConfirmation" maxlength="100" md-maxlength="100" ng-maxlength="100" required>
            </md-input-container>

            <md-button type="submit" class="md-primary md-raised">Actualizar</md-button>
        </form>

    </div>
</md-content>
