<md-button ng-click="vm.create()" class="md-raised md-primary">Agregar</md-button>
<div ng-if="!vm.isLoading && !vm.groups.length">
    <h1>A&uacute;n no has registrado ning&uacute;n grupo</h1>
</div>
<table>
    <thead>
    <tr>
        <th>C&oacute;digo</th>
        <th>Nombre</th>
        <th>Estudiantes</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- we can let ng-repeat sort the columns for us -->
    <tr ng-repeat="group in vm.groups">
        <td>{{group.id}}</td>
        <td>{{group.name}}</td>
        <td>{{group.studentsNumber}}</td>
        <td>
            <md-button ng-click="vm.edit(group)" class="md-icon-button md-primary"><i class="material-icons">mode_edit</i></md-button>
            <md-button ng-click="vm.confirmDeletion(group)" class="md-icon-button md-primary"><i class="material-icons">delete</i></md-button>
        </td>
    </tr>
    </tbody>
</table>
