<md-button ng-click="vm.createGroup(group)" class="md-raised md-primary">Agregar</md-button>
<md-table-container>
    <table md-table>
        <thead md-head md-order="myOrder">
        <th md-column md-numeric>C&oacute;digo</th>
        <th md-column md-numeric>Nombre</th>
        <th md-column md-numeric>Estudiantes</th>
        <th md-column>Acciones</th>
        </thead>
        <tbody md-body>
        <!-- we can let ng-repeat sort the columns for us -->
        <tr ng-repeat="group in vm.groups">
            <td md-cell>{{group.id}}</td>
            <td md-cell>{{group.name}}</td>
            <td md-cell>{{group.students.length}}</td>
            <td md-cell>
                <md-button class="md-icon-button md-primary"><i class="material-icons">mode_edit</i></md-button>
                <md-button ng-click="vm.confirmDeletion(group)" class="md-icon-button md-primary"><i class="material-icons">delete</i></md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>