<md-button ng-click="vm.create()" class="md-raised md-primary">Agregar</md-button>
<div ng-if="vm.isLoading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
</div>
<div flex>
    &nbsp;
</div>
<div ng-if="!vm.isLoading && !vm.students.length">
    <h1>A&uacute;n no has registrado ning&uacute;n estudiante</h1>
</div>
<table>
    <thead>
    <tr>
        <th>C&oacute;digo</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Grupo</th>
        <th>Partidas</th>
    </tr>
    </thead>
    <tbody>
    <!-- we can let ng-repeat sort the columns for us -->
    <tr ng-repeat="student in vm.students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.group.name}}</td>
        <td>{{student.played.length}}</td>
        <td>
            <md-button ui-sref="app.student-details({id:student.id})" class="md-icon-button md-primary"><i class="material-icons">details</i></md-button>
            <md-button ng-click="vm.edit(student)" class="md-icon-button md-primary"><i class="material-icons">mode_edit</i></md-button>
            <md-button ng-click="vm.confirmDeletion(student)" class="md-icon-button md-primary"><i class="material-icons">delete</i></md-button>
        </td>
    </tr>
    </tbody>
</table>
