<md-content class="Page-Container DemoHeader NavColor">
    <div layout="row">
        <div flex="96" flex-offset="2" class="DemoHeader-container">
            <div layout="row">
                <div align="left">
                    <a aria-label="atrás"
                       hide-xs
                       class="DemoHeader-link md-subhead"
                       ng-click="vm.goBack()">
                        <
                    </a>
                    <a aria-label="principal"
                       hide-xs
                       class="DemoHeader-link md-subhead"
                       ui-sref="app.landing">
                        H
                    </a>
                    <a aria-label="mis grupos"
                       hide-xs
                       ng-if="vm.isAuthenticated"
                       class="DemoHeader-link md-subhead"
                       ng-class="{'active' : vm.urlContains('groups')}"
                       ui-sref="app.groups">
                        Grupos
                    </a>
                    <a aria-label="mis estudiantes"
                       hide-xs
                       ng-if="vm.isAuthenticated"
                       class="DemoHeader-link md-subhead"
                       ng-class="{'active' : vm.urlContains('students')}"
                       ui-sref="app.students">
                        Estudiantes
                    </a>
                    <a aria-label="mis partidas"
                       hide-xs
                       ng-if="vm.isAuthenticated"
                       class="DemoHeader-link md-subhead"
                       ng-class="{'active' : vm.urlContains('games')}"
                       ui-sref="app.games">
                        Partidas
                    </a>
                    <a aria-label="iniciar sesion"
                       hide-xs
                       ng-if="!vm.isAuthenticated"
                       ng-class="{'active' : vm.urlContains('login')}"
                       class="DemoHeader-link md-subhead"
                       ui-sref="app.login">
                        Iniciar sesión
                    </a>
                    <a aria-label="registrarme"
                       hide-xs
                       ng-if="!vm.isAuthenticated"
                       ng-class="{'active' : vm.urlContains('register')}"
                       class="DemoHeader-link md-subhead"
                       ui-sref="app.register">
                        Registrarme
                    </a>
                    <a aria-label="cerrar sesion"
                       hide-xs
                       ng-if="vm.isAuthenticated"
                       class="DemoHeader-link md-subhead"
                       ng-click="vm.logout()">
                        Cerrar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
