<div class="Page-Container Landing">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <h1 class="md-display-3 Landing-heading"><strong>UNO</strong> <span class="Landing-headingLight">ARITMETICO</span></h1>
    </div>

    <div class="Landing-features" layout-align="center center">
        <h1 class="md-display-2 Landing-featuresMainTitle">UNOARITMETICO</h1>
        <div class="md-title Landing-featuresMainDescription">
            Haz del juego una herramienta de aprendizaje
        </div>
        <br/>
        <div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around">
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--restful">
                        <md-icon md-svg-src="/img/icons/graphic.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">Estadisticas</div>
                    <div class="md-subhead Landing-featuresDescription">Obten estad&iacute;sticas de las partidas jugadas</div>
                </div>
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--jwt">
                        <md-icon md-svg-src="/img/icons/game.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">Juego</div>
                    <div class="md-subhead Landing-featuresDescription">Fomenta el aprendizaje a trav&eacute;s de un juego sencillo</div>
                </div>
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--generators">
                        <md-icon md-svg-src="/img/icons/tablet.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">Facilidad</div>
                    <div class="md-subhead Landing-featuresDescription">No necesitas m&aacute;s que una tablet para empezar</div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
<div flex></div>
