<md-content class="Page-container">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="center" layout="center">
                <span flex></span>
                <span>Detalles de estudiante</span>
                <span flex></span>
            </h1>
        </div>
    </md-toolbar>
    <div flex="80" flex-offset="10">
        <md-content flex layout-padding>
            <div layout-gt-xs="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-user larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Nombre</span>
                            <span class="md-subhead">{{vm.student.name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-user larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Edad</span>
                            <span class="md-subhead">{{vm.student.age}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-bookmark larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Grupo</span>
                            <span class="md-subhead">{{vm.student.group.data.name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
            </div>
            <div layout-gt-xs="row">
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-tower larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Partidas jugadas</span>
                            <span class="md-subhead">{{vm.student.stadistics.game.playedCount}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-thumbs-up larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Partidas ganadas</span>
                            <span class="md-subhead">{{vm.student.stadistics.game.winnedCount}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <md-card flex>
                    <md-card-header>
                        <md-card-avatar>
                            <span class="glyphicon glyphicon-thumbs-down larger"></span>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Partidas perdidas</span>
                            <span class="md-subhead">{{vm.student.stadistics.game.lostCount}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
            </div>
        </md-content>
        <md-content flex layout-padding>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Estadísticas</h2>
                </div>
            </md-toolbar>
            <br>
            <div ng-if="vm.student.played.data.length">
                <div class="text-center" layout-gt-md="row">
                    <div flex="20"></div>
                    <div flex="25">
                        <h4>Operaciones jugadas</h4>
                        <canvas id="operations-pie" class="chart chart-pie"
                                chart-data="vm.operationsGraph.data" chart-labels="vm.operationsGraph.labels" chart-options="vm.operationsGraph.options">
                        </canvas>
                    </div>
                    <div flex="10"></div>
                    <div flex="25">
                        <h4 class="text-center">Participación en juegos</h4>
                        <canvas id="games-pie" class="chart chart-pie"
                                chart-data="vm.gamesGraph.data" chart-labels="vm.gamesGraph.labels" chart-options="vm.gamesGraph.options">
                        </canvas>
                    </div>
                    <div flex="20"></div>
                </div>
            </div>
        </md-content>
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Partidas jugadas de {{vm.student.name}}</h2>
                </div>
            </md-toolbar>
            <br>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column>C&oacute;digo</th>
                    <th md-column>Nombre</th>
                    <th md-column>Jugadores</th>
                    <th md-column>Movimientos</th>
                    <th md-column>Fecha</th>
                    <th md-column>Acciones</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="game in vm.student.played.data">
                    <td md-cell>{{game.id}}</td>
                    <td md-cell>{{game.name}}</td>
                    <td md-cell>{{game.studentsCount}}</td>
                    <td md-cell>{{game.movesCount}}</td>
                    <td md-cell>{{game.playedAt}}</td>
                    <td md-cell>
                        <md-button ui-sref="app.games.detail({ gameid: game.id })" class="md-icon-button md-primary">
                            <span class="glyphicon glyphicon-info-sign medium"></span>
                        </md-button>
                        <md-button ng-click="vm.exportGame(game)" class="md-icon-button md-primary">
                            <span class="glyphicon glyphicon-download medium"></span>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-content>
    </div>
</md-content>