<md-content class="Page-container">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1>
                <span class="glyphicon glyphicon-education"></span>
                <span>Estudiantes</span>
            </h1>
            <div flex></div>
            <md-button ui-sref="app.students.new" class="md-raised md-accent">
                <span class="glyphicon glyphicon-plus"></span>
            </md-button>
        </div>
    </md-toolbar>
    <div flex="80" flex-offset="10">
        <form name="searchForm" class="form-horizontal" role="form" novalidate ng-submit="vm.studentSearch.search()" show-validation>
            <div layout-gt-xs="row">
                <md-input-container flex="45" class="md-block" flex-gt-xs>
                    <label>Nombre</label>
                    <input ng-model="vm.studentSearch.params.name" type="text" md-maxlength="100" maxlength="100" min="1">
                </md-input-container>
                <md-input-container flex="45" class="md-block" flex-gt-xs>
                    <label>Grupo</label>
                    <md-select ng-model="vm.studentSearch.params.group">
                        <md-option ng-value="T">
                            Todos
                        </md-option>
                        <md-option  ng-repeat="group in vm.groups" ng-value="group.id">
                            {{group.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="10" class="md-block">
                    <md-button type="submit" class="md-raised md-accent" ng-disabled="searchForm.$invalid">
                        <span class="glyphicon glyphicon-search"></span>
                    </md-button>
                </md-input-container>
            </div>
        </form>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>C&oacute;digo</th>
                <th md-column>Nombre</th>
                <th md-column>Edad</th>
                <th md-column>Grupo</th>
                <th md-column>Partidas</th>
                <th md-column>Acciones</th>
            </tr>
            </thead>
            <tbody md-body>
            <!-- we can let ng-repeat sort the columns for us -->
            <tr md-row ng-repeat="student in vm.studentSearch.results">
                <td md-cell>{{student.id}}</td>
                <td md-cell>{{student.name}}</td>
                <td md-cell>{{student.age}}</td>
                <td md-cell>{{student.group.data.name}}</td>
                <td md-cell>{{student.playedCount}}</td>
                <td md-cell>
                    <md-button ui-sref="app.students.detail({ studentid: student.id })" class="md-icon-button md-primary">
                        <span class="glyphicon glyphicon-info-sign medium"></span>
                    </md-button>
                    <md-button ui-sref="app.students.edit({ studentid: student.id })" class="md-icon-button md-primary">
                        <span class="glyphicon glyphicon-pencil medium"></span>
                    </md-button>
                    <md-button ui-sref="app.students.remove({ studentid: student.id })" class="md-icon-button md-warn">
                        <span class="glyphicon glyphicon-trash medium"></span>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="vm.studentSearch.results.length">
            <uib-pagination class="pagination-sm"
                            total-items="vm.studentSearch.total"
                            items-per-page="vm.studentSearch.params.size"
                            ng-model="vm.studentSearch.params.page"
                            ng-change="vm.studentSearch.search()"></uib-pagination>
        </div>
    </div>
</md-content>
