<md-content flex layout-padding>
    <div layout-gt-xs="row">
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">account_box</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Nombre</span>
                    <span class="md-subhead">{{vm.student.name}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">account_box</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Edad</span>
                    <span class="md-subhead">{{vm.student.age}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">supervisor_account</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Grupo</span>
                    <span class="md-subhead">{{vm.student.group.name}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
    </div>
    <div layout-gt-xs="row">
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">videogame_asset</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Partidas jugadas</span>
                    <span class="md-subhead">{{vm.student.stadistics.game.playedCount}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">mood</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Partidas ganadas</span>
                    <span class="md-subhead">{{vm.student.stadistics.game.winnedCount}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
        <md-card flex>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="material-icons md-light md-48">mood_bad</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Partidas perdidas</span>
                    <span class="md-subhead">{{vm.student.stadistics.game.lostCount}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
    </div>
</md-content>
<md-content flex layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Estadísticas</h2>
        </div>
    </md-toolbar>
    <br>
    <div ng-if="vm.student.played.length">
        <div class="text-center" layout-gt-md="row">
            <div flex="20"></div>
            <div flex="25">
                <h4>Operaciones jugadas</h4>
                <canvas id="operations-pie" class="chart chart-pie"
                        chart-data="vm.operationsGraph.data" chart-labels="vm.operationsGraph.labels" chart-options="vm.operationsGraph.options">
                </canvas>
            </div>
            <div flex="10"></div>
            <div flex="25">
                <h4 class="text-center">Participación en juegos</h4>
                <canvas id="games-pie" class="chart chart-pie"
                        chart-data="vm.gamesGraph.data" chart-labels="vm.gamesGraph.labels" chart-options="vm.gamesGraph.options">
                </canvas>
            </div>
            <div flex="20"></div>
        </div>
    </div>
</md-content>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Partidas jugadas de {{vm.student.name}}</h2>
    </div>
</md-toolbar>
<br>
<md-table-container ng-if="vm.student.played.length">
    <table md-table>
        <thead md-head md-order="myOrder">
        <th md-column md-numeric>C&oacute;digo</th>
        <th md-column>Nombre</th>
        <th md-column md-numeric>Jugadores</th>
        <th md-column md-numeric>Movimientos</th>
        <th md-column>Fecha</th>
        <th md-column>Acciones</th>
        </thead>
        <tbody md-body>
        <tr ng-repeat="game in vm.student.played">
            <td md-cell>{{game.id}}</td>
            <td md-cell>{{game.name}}</td>
            <td md-cell>{{game.studentsNumber}}</td>
            <td md-cell>{{game.movementsNumber}}</td>
            <td md-cell>{{game.played_at}}</td>
            <td md-cell>
                <md-button ng-click="vm.show(game)" class="md-icon-button md-primary"><i class="material-icons">details</i></md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>